* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html, form {
    position: relative;
    width: 100%;
    height: 100%;
}
#form1{
    margin: 0 auto;
}
.width1 {
    width: 1%;
    display: block;
    float: left;
}

.width2 {
    width: 2%;
    display: block;
    float: left;
}


.width3 {
    width: 3%;
    display: block;
    float: left;
}

.width4 {
    width: 4%;
    display: block;
    float: left;
}

.width5 {
    width: 5%;
    display: block;
    float: left;
}

.width6 {
    width: 6%;
    display: block;
    float: left;
}

.width7 {
    width: 7%;
    display: block;
    float: left;
}

.width8 {
    width: 8%;
    display: block;
    float: left;
}

.width9 {
    width: 9%;
    display: block;
    float: left;
}

.width10 {
    width: 10%;
    display: block;
    float: left;
}
.width101p {
    width: 11%;
    display: block;
    float: left;
}
.width11 {
    width: 11%;
    display: block;
    float: left;
}

.width12 {
    width: 12%;
    display: block;
    float: left;
}

.width13 {
    width: 13%;
    display: block;
    float: left;
}

.width14 {
    width: 14%;
    display: block;
    float: left;
}

.width15 {
    width: 15%;
    display: block;
    float: left;
}

.width16 {
    width: 16%;
    display: block;
    float: left;
}

.width17 {
    width: 17%;
    display: block;
    float: left;
}

.width18 {
    width: 18%;
    display: block;
    float: left;
}

.width19 {
    width: 19%;
    display: block;
    float: left;
}

.width20 {
    width: 20%;
    display: block;
    float: left;
}

.width21 {
    width: 21%;
    display: block;
    float: left;
}

.width22 {
    width: 22%;
    display: block;
    float: left;
}

.width23 {
    width: 23%;
    display: block;
    float: left;
}

.width24 {
    width: 24%;
    display: block;
    float: left;
}

.width25 {
    width: 25%;
    display: block;
    float: left;
}

.width26 {
    width: 26%;
    display: block;
    float: left;
}

.width27 {
    width: 27%;
    display: block;
    float: left;
}

.width28 {
    width: 28%;
    display: block;
    float: left;
}

.width29 {
    width: 29%;
    display: block;
    float: left;
}

.width30 {
    width: 30%;
    display: block;
    float: left;
}

.width31 {
    width: 31%;
    display: block;
    float: left;
}

.width32 {
    width: 32%;
    display: block;
    float: left;
}

.width33 {
    width: 33%;
    display: block;
    float: left;
}

.width34 {
    width: 34%;
    display: block;
    float: left;
}

.width35 {
    width: 35%;
    display: block;
    float: left;
}

.width36 {
    width: 36%;
    display: block;
    float: left;
}

.width37 {
    width: 37%;
    display: block;
    float: left;
}

.width38 {
    width: 38%;
    display: block;
    float: left;
}

.width39 {
    width: 39%;
    display: block;
    float: left;
}

.width40 {
    width: 40%;
    display: block;
    float: left;
}

.width41 {
    width: 41%;
    display: block;
    float: left;
}

.width42 {
    width: 42%;
    display: block;
    float: left;
}

.width43 {
    width: 43%;
    display: block;
    float: left;
}

.width44 {
    width: 44%;
    display: block;
    float: left;
}

.width45 {
    width: 45%;
    display: block;
    float: left;
}

.width46 {
    width: 46%;
    display: block;
    float: left;
}

.width47 {
    width: 47%;
    display: block;
    float: left;
}

.width48 {
    width: 48%;
    display: block;
    float: left;
}

.width49 {
    width: 49%;
    display: block;
    float: left;
}

.width50 {
    width: 50%;
    display: block;
    float: left;
}

.width51 {
    width: 51%;
    display: block;
    float: left;
}

.width52 {
    width: 52%;
    display: block;
    float: left;
}

.width53 {
    width: 53%;
    display: block;
    float: left;
}

.width54 {
    width: 54%;
    display: block;
    float: left;
}

.width55 {
    width: 55%;
    display: block;
    float: left;
}

.width56 {
    width: 56%;
    display: block;
    float: left;
}

.width57 {
    width: 57%;
    display: block;
    float: left;
}

.width58 {
    width: 58%;
    display: block;
    float: left;
}

.width59 {
    width: 59%;
    display: block;
    float: left;
}

.width60 {
    width: 60%;
    display: block;
    float: left;
}

.width61 {
    width: 61%;
    display: block;
    float: left;
}

.width62 {
    width: 62%;
    display: block;
    float: left;
}

.width63 {
    width: 63%;
    display: block;
    float: left;
}

.width64 {
    width: 64%;
    display: block;
    float: left;
}

.width65 {
    width: 65%;
    display: block;
    float: left;
}

.width66 {
    width: 66%;
    display: block;
    float: left;
}

.width67 {
    width: 67%;
    display: block;
    float: left;
}

.width68 {
    width: 68%;
    display: block;
    float: left;
}

.width69 {
    width: 69%;
    display: block;
    float: left;
}

.width70 {
    width: 70%;
    display: block;
    float: left;
}

.width71 {
    width: 71%;
    display: block;
    float: left;
}

.width72 {
    width: 72%;
    display: block;
    float: left;
}

.width73 {
    width: 73%;
    display: block;
    float: left;
}

.width74 {
    width: 74%;
    display: block;
    float: left;
}

.width75 {
    width: 75%;
    display: block;
    float: left;
}

.width76 {
    width: 76%;
    display: block;
    float: left;
}

.width77 {
    width: 77%;
    display: block;
    float: left;
}

.width78 {
    width: 78%;
    display: block;
    float: left;
}

.width79 {
    width: 79%;
    display: block;
    float: left;
}

.width80 {
    width: 80%;
    display: block;
    float: left;
}

.width81 {
    width: 81%;
    display: block;
    float: left;
}

.width82 {
    width: 82%;
    display: block;
    float: left;
}

.width83 {
    width: 83%;
    display: block;
    float: right;
}

.width84 {
    width: 84%;
    display: block;
    float: left;
}

.width85 {
    width: 85%;
    display: block;
    float: left;
}

.width86 {
    width: 86%;
    display: block;
    float: left;
}

.width87 {
    width: 87%;
    display: block;
    float: left;
}

.width88 {
    width: 88%;
    display: block;
    float: left;
}

.width89 {
    width: 89%;
    display: block;
    float: left;
}

.width90 {
    width: 90%;
    display: block;
    float: left;
}

.width91 {
    width: 91%;
    display: block;
    float: left;
}

.width92 {
    width: 92%;
    display: block;
    float: left;
}

.width93 {
    width: 93%;
    display: block;
    float: left;
}

.width94 {
    width: 94%;
    display: block;
    float: left;
}

.width95 {
    width: 95%;
    display: block;
    float: left;
}

.width96 {
    width: 96%;
    display: block;
    float: left;
}

.width97 {
    width: 97%;
    display: block;
    float: left;
}

.width98 {
    width: 98%;
    display: block;
    float: left;
}

.width99 {
    width: 99%;
    display: block;
    float: left;
}

.width100 {
    width: 100%;
    display: block;
    float: left;
}


.height1 {
    height: 1%;
}

.height2 {
    height: 2%;
}

.height3 {
    height: 3%;
}

.height4 {
    height: 4%;
}

.height5 {
    height: 5%;
}

.height6 {
    height: 6%;
}

.height7 {
    height: 7%;
    display: block;
}

.height8 {
    height: 8%;
}

.height9 {
    height: 9%;
}

.height10 {
    height: 10%;
}

.height11 {
    height: 11%;
}

.height12 {
    height: 12%;
}

.height13 {
    height: 13%;
}

.height14 {
    height: 14%;
}

.height15 {
    height: 15%;
}

.height16 {
    height: 16%;
}

.height17 {
    height: 17%;
}

.height18 {
    height: 18%;
}

.height19 {
    height: 19%;
}

.height20 {
    height: 20%;
}

.height21 {
    height: 21%;
}

.height22 {
    height: 22%;
}

.height23 {
    height: 23%;
}

.height24 {
    height: 24%;
}

.height25 {
    height: 25%;
}

.height26 {
    height: 26%;
}

.height27 {
    height: 27%;
}

.height28 {
    height: 28%;
}

.height29 {
    height: 29%;
}

.height30 {
    height: 30%;
}

.height31 {
    height: 31%;
}

.height32 {
    height: 32%;
}

.height33 {
    height: 33%;
}

.height34 {
    height: 34%;
}

.height35 {
    height: 35%;
}

.height36 {
    height: 36%;
}

.height37 {
    height: 37%;
}

.height38 {
    height: 38%;
}

.height39 {
    height: 39%;
}

.height40 {
    height: 40%;
}

.height41 {
    height: 41%;
}

.height42 {
    height: 42%;
}

.height43 {
    height: 43%;
}

.height44 {
    height: 44%;
}

.height45 {
    height: 45%;
}

.height46 {
    height: 46%;
}

.height47 {
    height: 47%;
}

.height48 {
    height: 48%;
}

.height49 {
    height: 49%;
}

.height50 {
    height: 50%;
}

.height51 {
    height: 51%;
}

.height52 {
    height: 52%;
}

.height53 {
    height: 53%;
}

.height54 {
    height: 54%;
}

.height55 {
    height: 55%;
}

.height56 {
    height: 56%;
}

.height57 {
    height: 57%;
}

.height58 {
    height: 58%;
}

.height59 {
    height: 59%;
}

.height60 {
    height: 60%;
}

.height61 {
    height: 61%;
}

.height62 {
    height: 62%;
}

.height63 {
    height: 63%;
}

.height64 {
    height: 64%;
}

.height65 {
    height: 65%;
}

.height66 {
    height: 66%;
}

.height67 {
    height: 67%;
}

.height68 {
    height: 68%;
}

.height69 {
    height: 69%;
}

.height70 {
    height: 70%;
}

.height71 {
    height: 71%;
}

.height72 {
    height: 72%;
}

.height73 {
    height: 73%;
}

.height74 {
    height: 74%;
}

.height75 {
    height: 75%;
}

.height76 {
    height: 76%;
}

.height77 {
    height: 77%;
}

.height78 {
    height: 78%;
}

.height79 {
    height: 79%;
}

.height80 {
    height: 80%;
}

.height81 {
    height: 81%;
}

.height82 {
    height: 82%;
}

.height83 {
    height: 83%;
}

.height84 {
    height: 84%;
}

.height85 {
    height: 85%;
}

.height86 {
    height: 86%;
}

.height87 {
    height: 87%;
}

.height88 {
    height: 88%;
}

.height89 {
    height: 89%;
}

.height90 {
    height: 90%;
}

.height91 {
    height: 91%;
}

.height92 {
    height: 92%;
}

.height93 {
    height: 93%;
}

.height94 {
    height: 94%;
}

.height95 {
    height: 95%;
}

.height96 {
    height: 96%;
}

.height97 {
    height: 97%;
}

.height98 {
    height: 98%;
}

.height99 {
    height: 99%;
}

.height100 {
    height: 100%;
}

.height12p5 {
    height: 12.5%;
}


.padding5 {
    padding: 5px;
}

.paddingLeftRight1 {
    padding-left: 1px;
    padding-right: 1px;
}

.paddingLeftRight2 {
    padding-left: 2px;
    padding-right: 2px;
}

.paddingLeftRight5 {
    padding-left: 5px;
    padding-right: 5px;
}
.ballClone {
    width: 22px;
    height: 22px;
    font-size:12px;
    background: url(../kenoimages/ball.png) no-repeat center center;
    background-size: 100% 100%;
    position: relative;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    -webkit-transition: all 1.5s ease-in;
    /* transition: all 2s ease-in; */
    font-family: serif;
    float: left;
    letter-spacing: -1px;
    left: 9px;
    font-weight: bold;
}

.paddingLeftRight10 {
    padding-left: 10px;
    padding-right: 10px;
}

.paddingLeftRight20 {
    padding-left: 20px;
    padding-right: 20px;
}


.paddingLeftRight6p {
    padding-left: 6%;
    padding-right: 6%;
}
.paddingLeftRight10p {
    padding-left: 10%;
    padding-right: 10%;
}

.paddingLeftRight05p {
    padding-left: 0.5%;
    padding-right: 0.5%;
}

.height1719p {
    height: 17.19%;
}
.height8281p {
    height: 82.81%;
}

.paddingbottom5 {
    padding-bottom: 5px;
}

.width875p {
    width: 87.5%;
}

.height777p {
    height: 7.77%;
}

.height666p {
    height: 6.66%;
}

.height366p {
    height: 3.66%;
}

.height695p {
    height: 69.5%;
}

.height155p {
    height: 15.5%;
}

.padding1 {
    padding: 1px;
}

.paddingTop10 {
    padding-top: 10px;
}

.ballSet {
    background:#007bff;
}

.padding2 {
    padding: 2px;
}

.padding02p{
    padding: 0.2px;
}

.positionRelative {
    position: relative;
}

.textCenter {
    text-align:center;
}
.sansSerif {
    font-family: cursive;
    font-weight: bold;
    color: #3c1010;
    position: relative;
}


.drawHistoryBallSpans {
    position: relative;
    font-size: 12.5px;
    font-family: cursive;
    font-weight: bold;
    letter-spacing: -1px;
    color: #3c1010;
}
#round {
    position: relative;
    font-family: cursive;
    font-weight: bold;
    align-content: center;
    color: #3c1010;
}
